<div class="flex justify-center mt-48 mb-48 container mx-auto">
  <div class="w-3/5 bg-white shadow-lg p-10">
    <%= form_with model: @new_inventory_food, url: "/inventories/#{params[:id]}/inventory_foods" do |form| %>
      <%= form.hidden_field :inventory_id, value: params[:id] %>
      <div class="flex justify-between items-center">
        <div class="border py-2 px-4">
          <%= form.number_field :quantity, placeholder: 'Quantity', step: :any %>
        </div>
        <div class="border py-2 px-4">
          <%= form.collection_select :food_id, Food.order(:name), :id, :name, prompt: true %>
        </div>
      </div>
      <%= form.submit class: 'py-3 px-8 bg-orange-500 text-white hover:bg-orange-700 cursor-pointer mt-5' %>
    <% end %>
  </div>
</div>