<h1>showing recipe details</h1>

<div>
  <p>Recipe #
    <%= @recipe.id %></p>
  <p><%= @recipe.preparation_time %></p>
  <p><%= @recipe.cooking_time %></p>
  <p><%= @recipe.description %></p>
  <p><%= @recipe.public %></p>
  <p><%= @recipe.name %></p>
</div>

<%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe.id)%>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %></td>
        <td><%= recipe_food.food.price %></td>
        <td><%= button_to 'Delete', recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this ingredient?" }} %></td>
      </tr>
    <% end %>
  </tbody>
</table>