<h1>showing recipe details</h1>

<div>
  <p>Recipe #
    <%= @recipe.id %></p>
  <p><%= @recipe.preparation_time %></p>
  <p><%= @recipe.cooking_time %></p>
  <p><%= @recipe.description %></p>
  <p><%= @recipe.public %></p>
  <p><%= @recipe.name %></p>
</div>