<h1>showing recipe details</h1>

<div>
  <p>Recipe #
    <%= @recipe.id %></p>
  <p><%= @recipe.preparation_time %></p>
  <p><%= @recipe.cooking_time %></p>
  <p><%= @recipe.description %></p>
  <p><%= @recipe.name %></p>
</div>

<div>
  <h4 class="form-check-label">Public</h4>
  <%= form_with url: recipe_path(@recipe.id), method: "put" do |form| %>
    <div>
      <%= form.check_box :public, id: "flexSwitchCheckChecked" , onchange: "this.form.submit();", checked: @recipe.public %>
      <%= form.label :public, for: "flexSwitchCheckChecked" %>
    </div>
  <% end %>
<div>

<%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe.id)%>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= "#{recipe_food.quantity} #{recipe_food.food.measurement_unit}" %></td>
        <td><%= "$#{recipe_food.quantity * recipe_food.food.price}" %></td>
        <td><%= button_to 'Delete', recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this ingredient?" }} %></td>
      </tr>
    <% end %>
  </tbody>
</table>