<div class="flex justify-center my-12 container mx-auto">
  <div class="w-3/5 bg-white shadow-lg p-10">

    <div>
      <h2 class="text-3xl text-gray-700 font-semibold text-center"><%= @recipe.name %></h2>
      <div>
        <div class="flex justify-end">
          <%= form_with url: recipe_path(@recipe.id), method: "put" do |form| %>
            <div>
              <%= form.label :public, for: "flexSwitchCheckChecked", class: "cursor-pointer text-xl"%>
              <%= form.check_box :public, id: "flexSwitchCheckChecked", onchange: "this.form.submit();", checked: @recipe.public %>
            </div>
          <% end %>
        </div>
      <div>
      <div class="flex items-center justify-between mb-2 mt-4">
        <span class="font-semibold text-gray-600">Preparation time:</span>
        <span class="text-lg font-semibold text-gray-700"> <%= @recipe.preparation_time %> hours</span>
      </div>
      <div class="flex items-center justify-between mb-2">
        <span class="font-semibold text-gray-600">Cooking time:</span>
        <span class="text-lg font-semibold text-gray-700"><%= @recipe.cooking_time %> hours</span>
      </div>
      <div class="">
        <h3 class="font-semibold text-gray-600">Cooking steps:</h3>
        <p class="text-gray-500"><%= @recipe.description %></p>
      </div>
    </div>

     <div class="flex justify-between mt-4">
      <%= link_to "Generate shopping list", '#', class: "py-3 px-6 border-orange-500 mb-3 text-orange hover:text-white border hover:bg-orange-700", onclick: 'openAlert()' %>
      <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe.id), class: "py-3 px-6 bg-orange-500 mb-3 text-white hover:bg-orange-700" %>
    </div>

    <table  class="min-w-full table-auto border bg-white mt-5">
      <thead class="bg-gray-400 text-white">
        <tr>
          <th class="py-3 text-left px-5 font-semibold">Food</th>
          <th class="py-3 text-left px-5 font-semibold">Quantity</th>
          <th class="py-3 text-left px-5 font-semibold">Price</th>
          <th class="py-3 text-left pr-5 font-semibold" colspan="3">Action</th>
        </tr>
      </thead>
        <tbody>
          <% @recipe_foods.each do |recipe_food| %>
            <tr class="hover:bg-gray-200 border">
              <td class="right py-3 px-5"><%= recipe_food.food.name %></td>
              <td class="right py-3 px-5"><%= "#{recipe_food.quantity} #{recipe_food.food.measurement_unit}" %></td>
              <td class="right py-3 px-5"><%= "$#{recipe_food.quantity * recipe_food.food.price}" %></td>
              <td><%= button_to 'Delete', recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :delete, class: 'text-red-400', form: { data: { turbo_confirm: "Are you sure you want to delete this ingredient?" }} %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
   </div>
</div>
<%= javascript_include_tag "modal-window" %>