<div class="flex justify-center mt-48 mb-12 container mx-auto">
  <div class="w-3/5 bg-white shadow-lg pb-10 px-10 pt-5">
    <div class="flex justify-start my-4">
      <%= link_to '< Ingredients', recipe_path(params[:recipe_id]), class: 'text-gray-500' %>
    </div>
      
    <div>
      <%=form_with url: recipe_recipe_foods_path, scope: :recipe_food do |f| %>
        <div class="flex justify-between items-center">
          <div class="border py-2 px-4">
            <%= f.select :food_id, @foods.collect { |food| [food.name, food.id] }, :prompt => 'Select an Ingredient', class: 'focus:outline-none', required: true %>
          </div>
          <div>
            <%= f.label :quantity, 'Quantity:' %>
            <%= f.number_field :quantity, step: :any, required: true, class: 'border py-2 px-4 w-80'%>
          </div>
        </div>
        <div>
          <%= f.submit "Add Ingredient", class: 'py-3 px-8 bg-orange-500 text-white hover:bg-orange-700 cursor-pointer mt-5'%>
        </div> 
      <% end %>
    </div>
  </div>
</div>